<div class="row" style="text-align:center">
	<div class="col-md-6 0ffset-3">
		<h1 class="text-info">You have reached the end of the page</h1>
	</div>
</div>
<hr />
<a class="btn btn-outline-success text-center" asp-controller="Movies" asp-action="Index">Home Page</a>
